<template id="16">

    <tr>
        <lego-drop rodada="1"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="2"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="3"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="4"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="5"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="6"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="7"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="8"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="9"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="10"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="11"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="12"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="13"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="14"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="15"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>
    <tr>
        <lego-drop rodada="16"></lego-drop>
        <lego-colchets ></lego-colchets>
    </tr>

    
    



</template>