   
    <template id="4">

        <tr>
            <lego-drop rodada="1"></lego-drop>
            <lego-colchets></lego-colchets>                 
            <lego-first ></lego-first>
            <lego-first ></lego-first>
            <lego-vert ></lego-vert>
            

          
        </tr>
        <tr>
            <lego-drop rodada="2"></lego-drop>
            <lego-colchets></lego-colchets>
            <lego-drop rodada="3" referencia="[1,2]"></lego-drop>
            <lego-colchets vert="true"></lego-colchets>
            <lego-drop rodada="4" oculta="none" referencia="[1,1]"></lego-drop>
        
        </tr>


    </template>
 
